<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-input
    placeholder="Correo"
    [(ngModel)]="email"
    type="email"
    fill="outline">
  </ion-input>

  <ion-input
    placeholder="Contraseña"
    [(ngModel)]="password"
    type="password"
    fill="outline">
  </ion-input>

  <ion-button expand="full" (click)="login()">Iniciar sesión</ion-button>
  <ion-button fill="clear" (click)="abrirModalRecuperarPassword()">
    ¿Olvidaste tu contraseña?
  </ion-button>



  <p *ngIf="errorMessage" style="color:red;">{{ errorMessage }}</p>
</ion-content>
