<ion-content class="login-content ion-padding">
  <div class="login-card">

    <h2 class="login-title">Bienvenido</h2>

    <ion-item>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input
        placeholder="Correo electrónico"
        [(ngModel)]="email"
        type="email"
        fill="outline">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input
        placeholder="Contraseña"
        [(ngModel)]="password"
        type="password"
        fill="outline">
      </ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" (click)="login()">Iniciar sesión</ion-button>

    <ion-button fill="clear" (click)="abrirModalRecuperarPassword()">
      ¿Olvidaste tu contraseña?
    </ion-button>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </div>
</ion-content>
