<app-header></app-header>

<ion-content>
  <div class="home-container">
    <h1 class="welcome-title">Bienvenido</h1>
    <p class="welcome-subtitle">¿Qué deseas hacer hoy?</p>

    <div class="icon-grid">
      <div class="menu-card" routerLink="/inventario">
        <div class="icon-wrapper">
          <ion-icon name="cube-outline"></ion-icon>
        </div>
        <span>Inventario</span>
      </div>

      <div class="menu-card" routerLink="/venta">
        <div class="icon-wrapper">
          <ion-icon name="cart-outline"></ion-icon>
        </div>
        <span>Ventas</span>
      </div>

      <div class="menu-card" routerLink="/bip">
        <div class="icon-wrapper">
          <ion-icon name="card-outline"></ion-icon>
        </div>
        <span>Carga Bip</span>
      </div>

      <div class="menu-card" routerLink="/caja-vecina">
        <div class="icon-wrapper">
          <ion-icon name="cash-outline"></ion-icon>
        </div>
        <span>Caja vecina</span>
      </div>

      <div class="menu-card" routerLink="/ingresar-pedido">
        <div class="icon-wrapper">
          <ion-icon name="car-outline"></ion-icon>
        </div>
        <span>Ingresar Pedido</span>
      </div>

      <div class="menu-card" (click)="abrirModalCaja('cierre')">
        <div class="icon-wrapper">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </div>
        <span>Cerrar Caja</span>
      </div>
    </div>
  </div>
</ion-content>

<app-footer></app-footer>
